<h1>Register User</h1>

<form method="POST" action="/register">
    UserName: <input type="text" name="username" placeholder="Username">
    PassWord: <input type="password" name="password" placeholder="PassWord">
    <button type="submit">Submit</button>
</form>
<ul>
<ul>
<li><a href="/register">Register</a></li>
<li><a href="/login">login</a></li>
<li><a href="/">Home</a></li>
</ul>
</ul>